{% extends "employees_CRUD/base.html" %}
{% load crispy_forms_tags %} 

{% block content %}

<form action = "", method="post", autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.empFirtsName|as_crispy_field}}
        </div>

        <div class="col-md-6">
            {{form.empLastName|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{form.empCode|as_crispy_field}}
        </div>

        <div class="col-md-6">
            {{form.empPhoneNum|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{form.empEmail|as_crispy_field}}
        </div>

        <div class="col-md-6">
            {{form.empPosition|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>

        <div class="col-md-6">
            <a href="{% url 'employee_list' %}" type="submit" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>

</form>
{% endblock content %}
